*{
	margin: 0;
	padding: 0;
}
.w {
	margin: 0 auto;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.phone{
	width: 100%;
	height: 30px;
	background: #DEDEDE;
}
.div1 {
	width:970px;
	height: 30px;
	text-align: right;
	line-height: 30px;
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	background-position: 750px 5px;
}
.header {
	width: 970px;
	height: 60px;
	padding-top: 40px;
	position: relative;
}
.header img {
	padding-right: 90px;
	float: left;
}
.header ul {
	padding-top: 8px;
}
.header ul li {
	float:left;
	padding: 0 25px;
	border-right: 1px solid #000;
	font-size: 14px;
}
.header ul li a {
	color: #b2b2b2;
	font-weight: bold;
}
.header ul li.active a {
	color: #000;
}
.header ul li.last {
	border-right: none;
}
.banner {
	height:400px;
	width:1222px;
	background: url(../img/banner.gif);
	position:relative;
}
.banner-n2 {
	position:absolute;
	right:426px;
	top:158px;
}
.footer {
	width: 100%;
	height:87px;
	background:#eaeaea;
	text-align:center;
	padding-top:30px;
	line-height:20px;
	border-top: 1px solid #b4b4b4;
}
.footer>a {
	color: #000;
	font-size: 12px;
}
.footer>p {
	color: #000;
	font-size: 12px;
}
.footer span {
	color:#333;
	margin:0 3px;
}