.header .div2 {
	border:1px solid #000;
	width:50px;
	position:absolute;
	left:290px;
	top:70px;
}
.design {
	width: 920px;
	height: 210px;
	position: relative;
}
.design-i1 {
	position:absolute;
	left:20px;
	top:40px;
}
.design-i2 {
	position:absolute;
	left: 210px;
	top: 40px;
}
.design-i3 {
	position: absolute;
	left: 405px;
	top: 40px;
}
.design-i4 {
	position: absolute;
	left: 595px;
	top: 40px;
}
.design-i5 {
	position: absolute;
	left: 790px;
	top: 40px;
}
.case {
	width:951px;
	height: 496px;
	position:relative;
}
.case h2 {
	width:950px;
	height: 32px;
	background:#2d3237;
	color:#f00;
	text-align:center;
	font-weight:normal;
}
.case h2 span {
	color:#fff;
}
.case-b1,.case-b2{
	height:8px;
	border-bottom:1px solid #2d3237;
}
.case-b1 {
	width:433px;
	float:left;
}
.case-b2 {
	width:433px;
	float:right;
}
.case-s1 {
	position:absolute;
	left:444px;
	top:30px;
}
.case-s2 {
	position:absolute;
	left:444px;
	top:473px;
}
.case-i {
	width: 951px;
	height: 397px;
	position:relative;
}
.case-i1 {
	position:absolute;
	left: 0px;
	top: 40px;
}
.case-i2 {
	position:absolute;
	left: 195px;
	top: 40px;
}
.case-i3 {
	position:absolute;
	left: 385px;
	top: 40px;
}
.case-i4 {
	position:absolute;
	left: 575px;
	top: 40px;
}
.case-i5 {
	position:absolute;
	left: 770px;
	top: 40px;
}
.introduce {
	width:951px;
	height:95px;
	padding-bottom:85px;
	padding-top:20px;
	text-align:center;
	color:#666;
}
.service {
	width:951px;
	height: 244px;
	position:relative;
}
.service h2 {
	width:950px;
	height: 32px;
	background:#2d3237;
	color:#f00;
	text-align:center;
	font-weight:normal;
}
.service h2 span {
	color:#fff;
}
.service-b1,.service-b2{
	height:8px;
	border-bottom:1px solid #2d3237;
}
.service-b1 {
	width:433px;
	float:left;
}
.service-b2 {
	width:433px;
	float:right;
}
.service-s2 {
	position:absolute;
	left:444px;
	top:30px;
}
