.header .div2 {
	border:1px solid #000;
	width:60px;
	position:absolute;
	left:390px;
	top:70px;
}
.case {
	width:951px;
	height: 50px;
	position:relative;
	padding-top:30px;
}
.case h2 {
	width:950px;
	height: 32px;
	background:#2d3237;
	color:#f00;
	text-align:center;
	font-weight:normal;
}
.case h2 span {
	color:#fff;
}
.case-b1,.case-b2{
	height:8px;
	border-bottom:1px solid #2d3237;
}
.case-b1 {
	width:433px;
	float:left;
}
.case-b2 {
	width:433px;
	float:right;
}
.case-s1 {
	position:absolute;
	left:444px;
	top:60px;
}
.introduce {
	width:951px;
	height:95px;
	padding-bottom:85px;
	padding-top:20px;
	text-align:center;
	color:#666;
	line-height: 30px;
}
